/*
*	File: 			checksheetStyle.css
*	Created:		02/13/2016
*	Version:		1.1 (02/28/2016)
*	Author:			Christian Carreras
*	Organization:	Kutztown University CSC 355 Spring
*	Purpose:		This css file creates the necessary attributes and classes
*					to be used by checksheet files. Visually, this creates a
*					checksheet near identical to an official checksheet.
*/
div.buffer {
	width: 2%;
	float: left;
}

div.section {
	min-height: 300px;
    width: 90%;
	float: left;
	position: abolute;
}

div.newSection {
	clear: both;
}

.tableHeader {
	background-color: rgba(190, 190, 190, 0.2);
	font-size: 18px;
}

.tableGrade {
	width: 30px;
	text-align: center;
}

.tableGradeCaption {
	width: 30px;
	text-align: center;
	border: none;
}

.tableCaption {
	font-size: 18px;
	border: none;
}

.tableSpace {
	height: 5px;
	border: none;
}

table {
	width: 100%;
	min-width: 430px;
	border-collapse: collapse;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

th {
	padding: 5px;
	text-align: left;
	border: 1.5px solid black;
	font-family: Arial, Helvetica, sans-serif;
}

td {
	padding: 5px;
	text-align: left;
	border: 1.5px solid black;
}

b {
	font-weight: normal;
}

b.smaller {
	font-size: 14px;
}

hr {
	border-top: double;
}

u {
	text-decoration: none;
	color: blue;
}

u:hover {
	text-decoration: underline;
}

.courseNameBox {
	height: 16px;
	width: 100%;
	text-align: left;
	background-color: transparent;
	border: none;
}
