/*
*	File: 			checksheetStyle.css
*	Created:		02/13/2016
*	Version:		1.1 (02/28/2016)
*	Author:			Christian Carreras
*	Organization:	Kutztown University CSC 355 Spring
*	Purpose:		This css file creates the necessary attributes and classes
*					to be used by checksheet files. Visually, this creates a
*					checksheet near identical to an official checksheet.
*/
div.section {
	min-height: 300px;
    width: 90%;
	left: 10px;
	position: relative;
}

div.newSection {
	clear: both;
}

.tableHeader {
	background-color: rgba(190, 190, 190, 0.2);
	font-size: 18px;
}

.tableGrade {
	width: 30px;
	text-align: center;
}

.tableGradeCaption {
	width: 30px;
	text-align: center;
	border: none;
	cursor: help;
}

.tableCaption {
	font-size: 18px;
	border: none;
}

.tableSpace {
	height: 5px;
	border: none;
}

table {
	width: 100%;
	min-width: 425px;
	border-collapse: collapse;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	cursor: default;
}

th {
	padding: 5px;
	text-align: left;
	border: 1.5px solid black;
	font-family: Arial, Helvetica, sans-serif;
}

th.courseBox {
	padding: 0;
	font-weight: normal;
}

td {
	padding: 5px;
	text-align: left;
	border: 1.5px solid black;
}

b {
	font-weight: normal;
}

b.smaller {
	font-size: 14px;
}

hr {
	border-top: double;
}

u {
	text-decoration: none;
	cursor: help;
}

u:hover {
	opacity: 0.4;
}

.courseNameBox {
	height: inherit;
	padding: 2px;
	text-align: left;
	background-color: transparent;
	border: solid;
	border-width: 3px;
	border-color: transparent;
}

th a, .dropButtonNotes {
    text-decoration: none;
}

th a:hover, .dropdownSection:hover .dropButtonNotes {
	opacity: 0.4;
}

th.dropdownSection {
    cursor: pointer;
}

.dropdownSectionNotes {
    display: none;
    position: relative;
    background-color: #e9e9ff;
	font-size: 12px;
	font-weight: normal;
	padding: 5px;
	top: 100%;
	opacity: 0.9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	border-radius: 5px;
}

/* Additional styles for the homepage version of the checksheet */
th.topSection {
    /* Future tweaks mirroring th.dropdownSection */
}