/* This is may need tweaking for the final site... but I think it'll work well once it's all polished up. */

/*Class styles*/

fieldset.changepass{
	border:3px;
	border-style:solid; 
	border-color:#800020; 
}

span.box { /* Box for containing data. */
  margin: 2%;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.8;
  text-align: right;
  filter: alpha(opacity=80); /* For IE8 and earlier */
  color: #000000;
}

div.boxed{ /* Box container for page. */
	border:3px; 
	border-style:solid; 
	border-color:#800020; 
	padding: 1em;
}
