/* Very basic CSS stuff for GMOOH */

/*Styles for normal page tags*/
body      { font-family: Georgia, serif; }

/*Class styles*/

.smallprint   {
    font-family: "Courier New", Courier, monospace;
    font-size: 0.75em;
} /* For fine print text stuff, legal things. Monospace is easier to read at smaller font sizes as well.*/

.center   { /*a universal centering class */
    text-align: center;
}

span.required{ /* style for the astrisk on required inputs */
    color:red;
}

.alert{ /*style for emphisizing things*/
    color: red;
    font-weight: bold;
}

a.email{ /* Style to emphisize emails */
    font-weight: bold;
}
